@charset "utf-8";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark-mode:root {
  font-size: 62.5%;
  --body-bg: #222;
  --body-color: #dee2e6;
  --sounds-button: #899095;
  --sounds-button-hover: #ec5840;
  --path-fill: #899095;
  --path-fill-sounds: #dee2e6;
}

:root {
  font-size: 62.5%;
  --body-bg: white;
  --body-color: #222;
  --sounds-button: #E1E1E6;
  --sounds-button-hover: #02799D;
  --path-fill: #222;
  --path-fill-sounds: black;
}

.controls svg path {
  fill: var(--path-fill);
}

.alternator svg path {
   fill: var(--path-fill);
}

.hide {
  display: none;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  height: 100vh;
  position: relative;
  display: grid;
}

#container{
  justify-self: center;
  align-self: center;
  margin-top: -17rem;
  display: grid;
  gap: 10.2rem;
  height: 33.6rem;
  /* width: 82.1rem; */
}

@media (min-width: 900px) {
  #container {
    display: flex;
    gap: 16.2rem;
  }
}

/* timer and controls config  */

.timer {
  align-self: center;

  display: grid;
  height: 21.3rem;
}

.hours {
  font-family: 'Roboto', sans-serif;
  font-size: 12.6166rem;
  display: flex;
  align-self: flex-end;
  justify-self: center;
}

.controls {
  display: flex;
  gap: 4.0rem;
  justify-self: center;
}

.controls button {
  border: none;
  background: transparent;
  cursor: pointer;
}

/* sounds config */

.sounds {
  height: 33.6rem;

  display: grid;
  grid-template-columns: 13.8rem 13.8rem;
  justify-self: center;
  align-self: center;
  gap: 3.2rem;
}

.sounds button {
  border-radius: 2.4rem;
  background: var(--sounds-button);
  transition: .2s;
  cursor: pointer;
  border: none;
}

.sounds button:hover{
  background: var(--sounds-button-hover);
}

.sounds path {
  fill: var(--path-fill-sounds);
}

.sounds button:hover path{
  /* background: #02799D; */
  fill: var(--path-fill-sounds);
}

body {
  position: relative;
}

.alternator {
  position: absolute;
  right: 3rem;
  top: 3rem;
}

.alternator button {
  border: none;
  background: transparent;
  cursor: pointer;
}









input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 10rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--fc-timer);
  outline: none;

  position: absolute;
  bottom: 1.5rem;
  left: 1.8rem;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: var(--fc-timer);
}

input[type=range]::-moz-range-thumb {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: var(--fc-timer);
  border: none;
}

input[type=range]::-ms-range-thumb {
  width: 25px;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: var(--fc-timer);
  border: none;
}