* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #E1E1E6;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  /* border: 1px solid blue; */

  padding: 40px 0 40px 72px;

}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-links a {
  color: #C4C4CC;

  text-decoration: none;

  transition: .3s;

  font-size: 24px;
}

.nav-links a:hover {
  color: #fff;
  font-weight: 700;

}







/* HOME */

.bg-home {
  width: 100%;
  height: 100%;

  background: url(../imgs/mountains-universe-1\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 60vh;

  gap: 24px;

  color: var(--primary-color);
  /* border: 1px solid red; */
}

#home h1 {
  font-size: 48px;
  font-weight: 700;
}

#home button {
  padding: 12px 32px;

  background: transparent;

  border-radius: 5px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);

  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;

  transition: .3s;
}

#home button:hover {
  background: #fff;
  color: #02799D;

}










/* UNIVERSO */

.universe-bg {
  width: 100%;
  height: 100%;

  background: url(../imgs/mountains-universe-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

#universe {
  margin-left: 102px;

  color: #C4C4CC;
  width: 650px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: 63px;
}

#universe h1 {
  font-weight: 700;
}

#universe p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}





.explorer-bg {
  width: 100%;
  height: 100%;

  background: url(../imgs/mountains-universe-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

#explorer {
  margin-left: 102px;

  color: #fff;
  
  margin-top: 63px;
  width: 648px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

#explorer h1 {
  font-weight: 700;
}

#explorer p{
  color: #C4C4CC;
  font-weight: 400;
  line-height: 160%;
}


/* ANIMATION */

#home h1 {
  animation: blinkdo 2s .3s backwards;
}

#home button {
  animation: fromTop 1s .3s backwards;
}

#universe h1 {
  animation: fromTop 1s .3s backwards;
}

#universe p {
  animation: fromTop 1s .6s backwards;
}

#explorer h1 {
  animation: fromTop 1s .3s backwards;
}

#explorer p {
  animation: fromTop 1s .6s backwards;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blinkdo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}