@charset "utf-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #f3d2c93e;
}

.container {
    margin: 36px auto 0px;
    flex-direction: column;
    max-width: 560px;
    height: 983.75px;
    border: 1px dashed #ccc;
    display: flex;
}

.cabecalho {
    text-align: center;
    border: 1px dashed #ccc;
}

div::after {
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: black;
    border-radius: 50%;
}

.container-botoes {
    width: 560px;
    height: 585.75;
    margin: 100px auto;
    text-align: center;
    border: 1px dashed #ccc;
}

.container-botoes li {
    padding: 16px 0px;
    margin: 8px 0px;
    list-style: none;
    border: 1px dashed #ccc;
    background-image: linear-gradient(to right, #F3D2C9, #f3d2c9b5, #f3d2c97d);
    margin-bottom: 15px;
}

footer {
    border: 1px dashed #ccc;
    text-align: center;
}