* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.hide {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background: #121214;
  display: grid;
  height: 100vh;
}

main {
  align-self: center;
  justify-self: center;
}

footer {
  align-self: end;
  justify-self: end;
}

footer button {
  padding: 0 4rem 3.2rem 0;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: clamp(5rem, 5rem + 8vw , 8.8rem);
  margin-bottom: 1.6rem;
  line-height: 10.3rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 3.2rem;

  background: rgba(66, 211, 255, 0.13);
  border-radius: 9999px;
  width: clamp(10rem, 13rem + 30vw, 25.8rem);
  height: clamp(5rem, 8rem + 3vw, 10rem);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}